.bubble {
  position: absolute;
  width: 334px;
  $root: &;
  animation: bubble 10s linear infinite;
  &:nth-child(even) {
    animation-delay: 1s;
    animation-duration: 8s;
  }

  &:hover{
    animation-play-state: paused;

    #{$root}__img {
      animation: bubble-img 3s linear forwards;

      &--right {
        animation: bubble-img--right 1s linear forwards;
      }
    }
  }

  &--blue {
    color: $color-catalina-blue;
    left: 598px;
    top: 95px;
  }

  &--purple {
    color: $color-palatinate-purple;
    right: 24px;
    top: 230px;
    width: 297px;

    #{$root}__text {
      background-color: $color-palatinate-purple;
    }
  }

  &--green {
    bottom: 264px;
    color: $color-spectra;
    right: 0;
    width: 283px;

    #{$root}__text {
      background-color: $color-spectra;
    }
  }

  &--red {
    bottom: 62px;
    color: $color-pompadour;
    right: 212px;
    width: 363px;

    #{$root}__text {
      background-color: $color-pompadour;
    }
  }

  &--violet {
    bottom: 87px;
    color: $color-scarlet-gum;
    left: 141px;
    width: 423px;

    #{$root}__text {
      background-color: $color-scarlet-gum;
    }
  }

  &--brown {
    bottom: 312px;
    color: $color--rish-coffee;
    left: 0;
    width: 303px;

    #{$root}__text {
      background-color: $color--rish-coffee;
    }
  }

  &--woodland {
    color: $color-woodland;
    left: 63px;
    top: 157px;
    width: 363px;

    #{$root}__text {
      background-color: $color-woodland;
    }
  }

  &__text {
    background-color: $color-catalina-blue;
    border-radius: 40px;
    color: $color-white-70;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 32px 40px;
    position: relative;
    z-index: 1;
  }

  &__tail {
    bottom: 0;
    left: -17px;
    pointer-events: none;
    position: absolute;

    &--right {
      bottom: 0;
      left: auto;
      pointer-events: none;
      position: absolute;
      right: -17px;
    }
  }

  &__img {
    left: -100px;
    position: absolute;
    top: -55px;
    z-index: 0;

    &--right {
      left: auto;
      position: absolute;
      right: -114px;
      top: -45px;
      z-index: 0;
    }
  }
}


